.magic-box{
  box-sizing: border-box;

  .wrapper{
    margin:20px auto 20px auto ;
    width:400px;
  }

  &_item{
    border: 2px solid greenyellow;
    text-align: center;
    color: tomato;
    font-weight: 800;
    height: 80px;
    padding: 0;
    font-size: 20px;

    & span{
      height: 0;
      padding: 30px;
      display: inline-block;
      cursor:default;
    }
  }

  &_btn{
    text-align: center;
  }
}